body
{
	margin: 0;
	padding: 0;
	background-image: url(campus.jpg);
	background-size: cover;
	background-attachment: fixed;

}

h1
{
	text-align: center;
}
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p
{
	text-align: center;
}
a
{
	display: block;
	text-align: center;
	color: blue;
}
input
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 35px;
	font-size: 20px;
	color: black;

}

#entrar
{
	cursor: pointer;

}
a
{
	text-decoration: none;
}
#dv
{
	color: skyblue;
}
.warp
{
	background-color: rgba(255, 255, 255, 0.5);
	width: 400px;
	height: 850px;
	margin: auto;
	margin-top: 60px;

	overflow: hidden;

}
.warp input
{
	border-radius: 10px;
	border:1px solid silver;
	padding: 5px;
}

.botones
{
	background-color: rgba(255, 255, 255, 0.9);
}
