body {
  min-height: 100px;
}
.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #000000 !important;
  border-color: #337ab7;
}
.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand-hover {
  color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
input
{
	width: 300px;
	height: 35px;
	font-size: 20px;
	color: black;
}
