{% extends 'base.html'%}
{% block head_title %} Titulo {% endblock %}
{% block content %}

  <form enctype="multipart/form-data" action="{% url 'file_View' %}" method="post"> {% csrf_token %}
  <label for="id_file"> File: <input id="id_file" name="file" type="file">
  </label>
  <br>
  <button type="submit"> Subir </button>
  </form>

{% endblock %}
