{% load staticfiles %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="\"> BIENVENIDO </a>
    </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
          <li><a href="{% url 'file_View' %}"> Subir Archivos </a></li>
          <li><a href="{% url 'ver_View' %}"> Ver Archivos </a></li>
          {% else %}
          <li><a href=""> Inicio </a></li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
            <li><a href=""> Sign Up </a></li>
          {% else %}
            <li><a href="{% url 'logout_View' %}"> Logout </a></li>
          {% endif %}
        </ul>

      </div>
  </div>
</nav>
