{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Titulo {% endblock %}
{% block content %}
<div>
	<p>{{ruta}}</p>
</div>
<div class="row">
  {% for item in items %}
    <div class="col-sm-2"> </div>
    <div class="col-sm-2">
      <!-- <a href="{% url 'descargar_view' item %}"> {{ item }} </a> -->
      <a href="{% url 'descargar_view' item %}"> <img src="{% static 'img/icon7.png' %}" height="42" width="42"> </a>
      <h6> {{ item }} </h6>
    </div>
  {% endfor %}
</div>
{% endblock %}
