{% extends 'base.html'%}
{% load staticfiles %}
{% block head_title %} Titulo {% endblock %}
{% block content %}
{% if not user.is_authenticated %}
  <form action="{% url 'log_View' %}" method="post"> {% csrf_token %}
  <label for="id_username"> Username: <input id="id_username" name="username" type="text">
  </label>
  <br>
  <label for="id_password"> Password: <input id="id_password" name="password" type="password">
  </label>
  <br>
  <!---
  <label for="id_server"> Server: <input id="id_server" name="server" type="text">
  </label>
  <br>
  -->

  <button type="submit"> Login </button>
  </form>
{% else %}
  <center>
    <a href=""> <img src="{% static 'img/pro.jpeg' %}" height="200" width="200"> </a>
    <h3> Hola {{ user.username }} </h3>
    <br>
    <p>{{ruta}}</p>
  </center>
{% endif %}
{% endblock %}
